*{
    margin: 0;
   
}
body{
    font-family: Poppins,sans-serif;
    background: #FFFFFF;
    box-sizing: border-box;
}
 h1{
    font-size: 48px;
    color: #333333;
}
p{
    font-size: 18px;
    color: #3E3E3E;
    font-weight: 400;
}
                        /*hero section style*/
.hero-section{
    display: flex;
    padding: 20px;
    justify-content: center;
} 
        .half-width{
            width: 40%;
            padding: 2%;
        }
        .orange-text{
            color: orange;
        }
        .hero-text{
            margin-bottom: 20px;
            border-left: 5px solid #FF5959;
            padding: 5px;
        }   
        .half-width-img{
            padding-left: 5px;
            width: 70%;
           
            margin-left: 50px;
        }  
        .hero-p-text{
            margin-bottom: 50px;
        
        }
        .hero-last-p-text{
            margin-top: 30px;
        }    
        .farabi-btn{
            font-size: 20px;
            text-decoration: none;
            background-color: #FF5959;
            color: white;
            padding: 10px 40px;
            margin-top: 30px;
            border-radius: 5px;
    }
        /* Three colum area*/  
.flexible-colum{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
}
        .three-colum-h1{
            text-align: center;
            padding: 10px;
            margin-top: 100px;
            margin-bottom: 60px;
        }
        .one-third-width{
           
            padding: 20px;
            width: 360px;
            height: 376px;
            
        }
                .first{
                    background: rgba(79, 157, 166, 0.1);
                    
                    padding: 25px;
                    border-radius: 26px;
                    margin-right: 20px;
                    margin-left: 0px;
                }
                .second{
                    background: rgba(255, 89, 89, 0.1);
                    padding: 25px;
                    border-radius: 26px;
                    margin-right: 10px;
                    margin-left: 20px;
                }
                .third{
                    background: #FFF4D6;
                    padding: 25px;
                    border-radius: 30px;
                    margin-right: 10px;
                    margin-left: 20px;
                }
                
        .one-third-img{
            width: 141px;
            height: 141px;
        }
 /*Third part with img and text */
 
 .third-part{
     display: flex;
     align-items: center;
     justify-content: center;

 }
        .third-part h1{
            font-size: 36px;
           
            margin-bottom:30px ;

        }
        .third-part p{
            font-size: 18px;
            margin-bottom: 50px;
        
        }
        .third-part-img{
           width: 60%;
            
        }
        .third-part-img-area{
            margin-left: 200px;
            margin-right: 0px;
        }
        .third-part-develop-area{
            
            padding-right: 0px;
            margin-left:-200px;
            margin-right: 300px;
            margin-top: 0px;
        }