*{
    margin: 0;
   
}
body{
    font-family: Poppins,sans-serif;
    background: #FFFFFF;
    box-sizing: border-box;
}
 h1{
    font-size: 48px;
    color: #333333;
}
p{
    font-size: 18px;
    color: #3E3E3E;
    font-weight: 400;
}
                        /*hero section style*/
.hero-section{
    display: flex;
    padding: 20px;
    justify-content: center;
} 
        .half-width{
            width: 40%;
            padding: 2%;
        }
        .orange-text{
            color: orange;
        }
        .hero-area-text{
            margin-left: 200px;
        }
        .half-width-img{
            padding-left: 5px;
            width: 70%;
           
            margin-left: 50px;
        }  
        .hero-p-text{
            margin-bottom: 50px;
        
        }
        .hero-last-p-text{
            margin-top: 30px;
        }    
        .farabi-btn{
            font-size: 20px;
            text-decoration: none;
            background-color: #FF5959;
            color: white;
            padding: 10px 40px;
            margin-top: 30px;
            border-radius: 5px;
    }
        /* Three colum area*/  
.flexible-colum{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
}
        .three-colum-h1{
            text-align: center;
            padding: 10px;
            margin-top: 100px;
            margin-bottom: 60px;
        }
        .one-third-width{
           
            padding: 20px;
            width: 360px;
            height: 376px;
            
        }
                .first{
                    background: rgba(79, 157, 166, 0.1);
                    
                    padding: 25px;
                    border-radius: 26px;
                    margin-right: 20px;
                    margin-left: 0px;
                }
                .first-color{
                    background-color: #65C18C;
                }
                .second{
                    background: rgba(255, 89, 89, 0.1);
                    padding: 25px;
                    border-radius: 26px;
                    margin-right: 10px;
                    margin-left: 20px;
                }
                .second-color{
                    background-color: #C1F4C5;
                }
                .third{
                    background: #FFF4D6;
                    padding: 25px;
                    border-radius: 30px;
                    margin-right: 10px;
                    margin-left: 20px;
                }
                .third-color{
                    background-color:#FFBED8 ;
                }
                
        .one-third-img{
            width: 141px;
            height: 141px;
        }
 /*Third part with img and text */
 .develop-area{
    justify-content: center;
    padding: 20px;
    justify-content: center;
    display: flex;
    margin-top: 150px;
 }
        .develop-area-img{
            width: 70%;
            margin-left: 200px;
        }
        .develop-area h1{
            font-size: 36px;
            margin-bottom: 30px;
        }
        .develop-area p{
            font-size: 18px;
            margin-bottom: 50px;
            line-height: 30px;
            
        }
        .develop-area-text{
            margin-right: 200px;
            word-wrap:inherit;
        }
        
        
    /*Community-area 4th part*/
 
 .community-area{
    justify-content: center;
    padding: 20px;
    justify-content: center;
    display: flex;
    margin-top: 150px;
 }
        .community-area h1{
            font-size: 36px;
            margin-bottom: 30px;
        }
        .community-area p{
            font-size: 18px;
            margin-bottom: 50px;
            line-height: 30px;
        }
        .community-area-img{
            width: 70%;
            margin-left: 100px;
            margin-right: 200px;
        }
        .community-area-text{
            margin-left: 200px;
        }


        

        /*Footer are */

 .footer-area{
     background-color: #333333;
     color: white;
     height: 60px;
     margin: auto;
     text-align: center;
     padding: 40px 0px;
 }
 .footer-area p{
     color: #FFFFFF;
     font-size: 14px
 }
 